.hover-box-wrapper {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-color: black;
  overflow: hidden;
  border-radius: 0.2rem;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.hover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.hover-box-wrapper:hover .hover-image {
  opacity: 1;
  transform: scale(1.2);
}
